.productCard .textPart {
  transition: transform 0.3s ease-out;
}

.productCard:hover .textPart {
  transform: translateY(-1rem);
}

.productCard:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
